.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

body {
    background-color: rgb(243, 230, 255);
    margin: auto;
}

.p1 {
    margin: auto;
    width: 600px;
    height: 550px;
    background-color: white;
    border-radius: 18px;
}

.p2 {
    background-color: rgb(53, 5, 63);
    margin-bottom: 550px;
    width: 1500px;
    height: 270px;
    
}

.p3 {
    margin-top: 120px;
    text-align:;
    color: rgb(42, 4, 50);
    font-weight: bold;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}