.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

body {
    background-color: rgb(243, 230, 255);
    margin: auto;
}

.p1 {
    margin: auto;
    padding-left: 40px;
    margin-top: 100px;
    width: 570px;
    height: 550px;
    background-color: white;
    border-radius: 18px;
}

.p2 {
    background-color: rgb(53, 5, 63);
    margin-bottom: 550px;
    width: 1500px;
    height: 270px;
}

.p3 {
    margin-top: 120px;
    padding-left: 20px;
    color: rgb(42, 4, 50);
    font-weight: bold;
    font-size: 52px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.p4 {
    width: 7%;
    height: 7%;
    padding-top: 55px;
}

.p5 {
    color: rgb(42, 4, 50); 
    margin-top: 40px;
    font-weight: bold;
    font-size: medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}