.line {
    line-height: 0.4;

}
@media screen and (max-width: 1080px){
    .container {
        width: 100%;
        flex-direction: column;
    }
}   
.container {
     display: flex;
     width: 100%;
     justify-content: space-around;
}


body {
    display: block;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 892px;
    height: 1132px;
}

.marge {
    margin-top: 60px;
    width: 870px;
}

.marg {
    padding-top: 60px;
    padding-left: 75px;
    width: 815px;
    height: 1070px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: rgb(253, 253, 253);
    border: solid black 1.5px;
    box-shadow: rgb(77, 77, 77) 20px 20px 20px;
}

.quebra {
    height: 3px;
    width: 730px;
    background-color: blue;
    margin-left: 2px;
}

h2 {
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: bold;
}

h3 {
    font-family: Arial;
    font-style: italic;
    font-size: 18px;
}

a {
    font-weight: 400;
}

h4 {
    font-family: Arial;
    font-style: normal;
    font-size: 18px;
    font-weight: lighter;
    margin-top: 0px;
}

ul {
    font-family: Arial;
    font-style: normal;
    font-size: 18px;
    font-weight: lighter;
    margin-top: 0px;
}