.line {
    line-height: 0.4;

}

.pad {
    padding-left: 85px;
    padding-top: 100px;
    padding-bottom: 300px;
}
.marge {
    margin-top: 60px;
}

.marg {
    margin-top: 50px;
    margin-left: 450px;
    margin-right: 450px;
    margin-bottom: 50px;
    border: solid black 1.5px;
}

.quebra {
    height: 3px;
    width: 760px;
    background-color: blue;
    margin-left: 2px;
}

h2 {
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: bold;
}

h3 {
    font-family: Arial;
    font-style: italic;
    font-size: 18px;
}

a {
    font-weight: 400;
}

h4 {
    font-family: Arial;
    font-style: normal;
    font-size: 18px;
    font-weight: lighter;
    margin-top: 0px;
}

ul {
    font-family: Arial;
    font-style: normal;
    font-size: 18px;
    font-weight: lighter;
    margin-top: 0px;
}