.line {
    line-height: 0.4;

}

.marge {
    margin-top: 60px;
}

.marg {
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.quebra {
    height: 3px;
    width: 830px;
    background-color: blue;
    margin-left: 2px;
}

h2 {
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: bold;
}

h3 {
    font-family: Arial;
    font-style: italic;
    font-size: 18px;
}

a {
    font-weight: 400;
}

h4 {
    font-family: Arial;
    font-style: normal;
    font-size: 18px;
    font-weight: lighter;
    margin-top: 0px;
}

ul {
    font-family: Arial;
    font-style: normal;
    font-size: 18px;
    font-weight: lighter;
    margin-top: 0px;
}