body {
    background-color: rgba(255, 245, 228, 0.86);
    display: block;
}

img {
    border-radius: 15px;
    width: 690px;
    height: 380px;
    margin: auto;
}

.margem {
    text-align: center;
    width: 800px;
    height: 2800px;
    background-color: rgb(255, 255, 255);
    border-radius: 35px;
}

.marg {
    text-align: left;
    padding-left: 55px;
    padding-right: 55px;
}

h1 {
    font-family: 'Monomakh';
    font-size: 38px;
    font-weight: 400px;
    font-style: normal;
}

.back {
    margin-left: 340px;
    margin-right: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 800px;
    height: 3000px;
    text-align: center;
}

h4 {
    font-weight: lighter;
}

.intern {
    text-align: center;
    background-color: rgb(255, 241, 251);
    border-radius: 15px;
}