* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    font-size: larger;
}

body {
    font-style: italic;
    color: rgb(95, 95, 95);
}

.box {
    display: flex;
}

.box1 {
    display: flex;
    gap: 2px;
}

.header {
    width: 100%;
    padding-bottom: 5%;
    background-color:rgb(88, 209, 233);
    text-align: center;
}

.conteudo {
    text-align: center; 
    width: 78%;
    background-color: rgb(229, 83, 149);
}

.sidebar {
    text-align: center;
    width: 22%;
    height: 69vh;
    background-color: rgb(255, 190, 111);
}



.parte2 {
    flex-grow: 1;
    width: 56%;
    background-color: rgb(88, 244, 77);
    text-align: center;
    padding-bottom: 7%;
}

.parte {
    width: 22%;
    background-color: rgb(88, 244, 77);
    text-align: center;
}

.parte:nth-child(1) {
}
.parte:nth-child(3) {
}


@media screen and (max-width: 1200px){
    .container, .parte, .parte2, .sidebar, .conteudo, .header, .box, .box1 {
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }
}   